<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect paradoxonstudio.hu to danielsimon.hu" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?paradoxonstudio\.hu$" />
          </conditions>
          <action type="Redirect" url="https://danielsimon.hu/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <rule name="Canonicalize imagicore.hu microsite root" stopProcessing="true">
          <match url="^imagicore(?:/(?:index\.html?)?)?$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?imagicore\.hu$" />
          </conditions>
          <action type="Redirect" url="https://imagicore.hu/" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <rule name="Redirect imagicore.hu non-microsite pages to danielsimon.hu" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(www\.)?imagicore\.hu$" />
            <add input="{REQUEST_URI}" pattern="^/$" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/imagicore(?:/(?:index\.html?)?)?$" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/assets/" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/script\.js$" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/favicon\.svg$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://danielsimon.hu/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <rule name="Rewrite imagicore.hu root to imagicore microsite" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?imagicore\.hu$" />
          </conditions>
          <action type="Rewrite" url="imagicore/" />
        </rule>
        <rule name="Redirect legacy about-me" stopProcessing="true">
          <match url="^about-me/?$" />
          <action type="Redirect" url="/rolam/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect legacy contact" stopProcessing="true">
          <match url="^contact/?$" />
          <action type="Redirect" url="/kapcsolat/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
