<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect legacy about-me" stopProcessing="true">
          <match url="^about-me/?$" />
          <action type="Redirect" url="/rolam/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect legacy contact" stopProcessing="true">
          <match url="^contact/?$" />
          <action type="Redirect" url="/kapcsolat/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
